body {
  font-family: var(--font-family);
}
.theme-bauhaus {
  --color: #21409a;
  --color-hover: #193687;
  --color-text: white;
  --color-button: #be1e2d;
  --font-color-button: white;
  --font-family: "Arial", sans-serif;
  --border-radius-button: 5px;
  --metadatatitle: white;
}

.theme-art_nouveau {
  --color: #d4c3a5;
  --color-hover: #879c7d;
  --color-text: white;
  --color-button: #879c7d;
  --font-color-button: black;
  --font-family: "Quintessential", cursive;
  --metadatatitle: white;

}

.theme-art_deco {
  --color: #dbc48e;
  --color-hover: #bb9355;
  --color-text: white;
  --color-button: #1c2841;
  --font-color-button: white;
  --font-family: "Arial", sans-serif;
  --metadatatitle: white;
}

.theme-baroque {
  --color: #850101;
  --color-hover: white;
  --color-text: #bb9355;
  --color-button: #034b03;
  --font-color-button: #b49b5b;
  --font-family: "Arial", sans-serif;
  --metadatatitle: white;
}

.theme-pop {
  --color: #67c4cc;
  --color-hover: #67c4cc;
  --color-text: white;
  --color-button: #fd97d1;
  --font-color-button: ;
  --font-family: "Arial", sans-serif;
  --metadatatitle: white;
}
.theme-future {
  --color: white;
  --color-hover: #d6417f;
  --color-text: black;
  --font-family: "Futura", sans-serif;
  --color-button: #654ce6;
  --font-color-button: ;
  --border-style: solid;
  --metadatatitle: black;
}

.sidebarMetadata {
  height: 100%;
  width: 15%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 60px;
  margin-top: 2%;
  background-color: var(--color);
  display: none;
}
.sidebarMetadataClosed {
  height: 100%;
  width: 3%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 60px;
  margin-top: 2%;
  background-color: var(--color);
  width: 20px;
  display: none;
  border-left-style: var(--border-style);
}

.arrow {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  margin: auto;
  transition: background-color 300ms;
}

.closeMetadata {
  object-fit: contain;
  cursor: pointer;
  margin-left: 2%;
  transition: background-color 300ms;
  background-color: var(--color);
}

.sidebarMetadata h4 {
  text-decoration: none;
  margin-left: 7%;
  font-size: 16px;
  color: #f1f1f1;
  padding-top: 5px;
}

.back-button {
  background-color: var(--color-button);
  border: var(--color-hover);
  padding: 5px 7px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 2%;
  display: none;
  color: var(--font-color-button);
  border-radius: var(--border-radius-button);
}

.back-button:hover {
  background-color: var(--color-hover);
}

.sidebarMetadata h3 {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
}

.button-group {
  margin-left: 30px;
}

.button-group button {
  background-color: var(--color-button);
  border: #eee;
  color: var(--font-color-button);
  padding: 10px 10px;
  margin-bottom: 10%;
  cursor: pointer;
  width: 80%;
  display: block;
  border: none;
  outline: none;
  border-radius: var(--border-radius-button);
}

.button-group button:not(:last-child) {
  border-bottom: none;
}

.activeButton:hover {
  background-color: var(--color-hover);
}

.info {
  border-color: black;
  background-color: #f1f1f1;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 30%;
  max-height: 75%;
  position: relative;
  display: none;
  overflow: scroll;
}

.caption {
  border-color: black;
  background-color: #f1f1f1;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 30%;
  max-height: 85%;
  position: relative;
  display: none;
}
.keyword {
  border-color: black;
  background-color: #f1f1f1;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 30%;
  max-height: 85%;
  position: relative;
  display: none;
}

.info h3 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.openbtn {
  margin-top: 56px;
}

.links {
  font-size: 13px;
}

.sidebarMetadata mark {
  color: #007bff;
}

#metadataTitle {
  color: var(--metadatatitle);
}

@media only screen and (max-width: 1000px) {
  .sidebarMetadata {
    width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  .activeButton {
    font-size: 10px;
  }

  .button-group {
    margin-left: 20px;
  }

  .sidebarMetadata {
    width: 25%;
  }

  .links {
    font-size: 13px;
  }
  .sidebarMetadataClosed {
    display: flex;
  }


}
