.theme-bauhaus {
  --color: #21409a;
  --color-hover: #193687;
}

.theme-art_nouveau {
  --color: #d4c3a5;
  --color-hover: #879c7d;
}

.theme-art_deco {
  --color: #dbc48e;
  --color-hover: #bb9355;
}

.sidebarMetadata {
  height: 100%;
  width: 15%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 60px;
  margin-top: 2%;
  background-color: var(--color);
}
.sidebarMetadataClosed {
  height: 100%;
  width: 3%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 60px;
  margin-top: 2%;
  background-color: var(--color);
  width: 20px;
  display: none;
}

.arrow {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  margin: auto;
  transition: background-color 300ms;
}

.closeMetadata {
  object-fit: contain;
  cursor: pointer;
  margin-left: 2%;
  transition: background-color 300ms;
  background-color: var(--color);
}

.sidebarMetadata h4 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
}

.sidebarMetadata h3 {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
}

.button-group {
  margin-left: 30px;
}

.button-group button {
  background-color: #eee;
  border: #eee;
  color: black;
  padding: 10px 10px;
  margin-bottom: 10%;
  cursor: pointer;
  width: 80%;
  display: block;
  border: none;
  outline: none;
}

.button-group button:not(:last-child) {
  border-bottom: none;
}

.activeButton:hover {
  background-color: var(--color-hover);
}

.info {
  border-color: black;
  background-color: #f1f1f1;
  margin-left: 7%;
  margin-right: 7%;
  height: 60%;
  position: relative;
  display: none;
}
.quotes {
  border-color: black;
  background-color: #f1f1f1;
  margin-left: 7%;
  margin-right: 7%;
  height: 60%;
  position: relative;
  display: none;
  display: none;
}

.info h3 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.back-button {
  background-color: var(--color-hover);
  border: var(--color-hover);
  color: #f1f1f1;
  padding: 5px 7px;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  margin-left: 5px;
  margin-bottom: 5px;
}

.openbtn {
  margin-top: 56px;
}

.links {
  font-size: 16px;
}
@media only screen and (max-width: 800px) {
  .activeButton {
    font-size: 10px;
  }

  .button-group {
    margin-left: 20px;
  }

  .sidebarMetadata {
    width: 25%;
  }

  .links {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .sidebarMetadata {
    width: 30%;
  }
}
