body {
  font-family: var(--font-family);
}

.theme-baroque {
  --color: #850101;
  --color-hover: #bb9355;
  --color-text: #b49b5b;
  --font-family: "Arial", sans-serif;
}

.theme-bauhaus{
  --color: #21409a;
  --color-hover: #193687;
  --color-text: white;
  --font-family: "Arial", sans-serif;
}

.theme-art_nouveau{
  --color: #d4c3a5;
  --color-hover: #879c7d;
  --color-text: white;
  --font-family: "Quintessential", cursive;
}

.theme-art_deco {
  --color: #dbc48e;
  --color-hover: #bb9355;
  --color-text: white;
  --font-family: "Arial";
}

.theme-brody {
  --color: #dbc48e;
  --color-hover: #bb9355;
  --color-text: white;
  --font-family: "Arial";
}
.theme-future {
  --color: white;
  --color-hover: #d398f4;
  --color-text: black;
  --font-family: "Futura", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: var(--color-text);
  display: block;
  transition: 0.3s;
}

.sidebar div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 10px;
  color: var(--color);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--color-hover);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--color);
  color: var(--color-text);
  padding: 10px 15px;
  border-style: var(--border-style);
  position: fixed;
}

.openbtn:hover {
  background-color: var(--color-hover);
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .sidebarText {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar a {
    font-size: 10px;
  }
}
