@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Major+Mono+Display&family=Quintessential&family=Rye&family=Sofia&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--background-img);
    background-position: center;
}
.theme-bauhaus {
    --color-primary: #be1e2d;
    --color-secondary: #ffde17;
    --color-accent: #21409a;
    --color-background: #ffffff;
    --font-color: #000000;
    --font-color-button: #ffffff;
    --font-header: #000000;
    --font-family: "Arial", sans-serif;
    --font-header: "Major Mono Display", monospace;
    --border-radius-button: 50%;
    --width-button: 100px;
    --height-button: 100px;
    --border-header: solid;
    --text-transform: lowercase;
}

.theme-art_nouveau {
    --color-primary: #879c7d;
    --color-secondary: #a52b36;
    --color-accent: #f6c25d;
    --color-third: #cbc385;
    --color-background: #fbd499;
    --font-color: #000000;
    --font-color-button: #000000;
    --font-color-header: #000000;
    --font-family: "Quintessential", cursive;
    --font-header: "Sofia", cursive;
    --border-radius-button: 5px;
    --width-button: 120px;
    --height-button: 50px;
    --background-img: url("../img/background_Art_nouveau.jpg")
}
.theme-art_deco {
    --color-primary: #1c2841;
    --color-secondary: #3f647e;
    --color-accent: #edf3af;
    --color-third: #3f647e;
    --color-background: black;
    --font-color: #ffffff;
    --font-color-button: #ffffff;
    --font-color-header: #b49b5b;
    --font-family: "Arial";
    --font-header: "Limelight", cursive;
    --border-radius-button: 5px;
    --width-button: 120px;
    --height-button: 50px;
    --border-header: double;
    --background-img: #000000 url("../img/background_art_deco.png") repeat-y;
    --background-size: contain;
}

.container {
    width: 60%;
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    text-transform: var(--text-transform);
}
.container h1 {
    color: var(--font-color-header);
    font-family: var(--font-header);
    border-style: var(--border-header);
    text-transform: none;
}

.container h2 {
    color: var(--font-color-header);
    font-family: var(--font-header);
}

.container h3 {
    color: var(--font-color-header);
    font-family: var(--font-family);
    font-weight: bold;
}
.container button {
    height: var(--height-button);
    width: var(--width-button);
    color: var(--font-color-button);
    background: var(--color-primary);
    border: 0;
    border-radius: var(--border-radius-button);
    text-align: center;
    font-size: 15px;
}

.container p {
    color: var(--font-color);
}

#text {
    display: none;
}

#file {
    padding: 20px;
    background-color: var(--color-background);
}

.container img {
    width: 70%
}

@media only screen and (max-width: 600px) {
    .container {
        width: 30%;
    }
}