@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Limelight&family=Major+Mono+Display&family=Quintessential&family=Rye&family=Sofia&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--background-img);
    background-position: center;
}
.theme-baroque {
    --color-primary: #034B03;
    --color-accent: #850101;
    --color-background: #ffffff;
    --font-color: #000000;
    --font-color-button: #b49b5b;
    --font-header: #000000;
    --font-family: "Arial", sans-serif;
    --font-header: 'Fleur De Leah', cursive;
    --border-radius-button: 5px;
    --width-button: 120px;
    --height-button: 50px;
    --margin: 5%;
    --background-img: url("../img/border_baroque.jpg") no-repeat;
    --padding-headerBorder: 210px; 
    --column-count: 2;
    --column-gap: 40px;
    --coulmn-span: all;
}
.theme-bauhaus {
    --color-primary: #be1e2d;
    --color-accent: #21409a;
    --color-background: #ffffff;
    --font-color: #000000;
    --font-color-button: #ffffff;
    --font-header: #000000;
    --font-family: "Arial", sans-serif;
    --font-header: "Major Mono Display", monospace;
    --border-radius-button: 50%;
    --width-button: 100px;
    --height-button: 100px;
    --border-header: solid;
    --text-transform: lowercase;
}

.theme-art_nouveau {
    --color-primary: #879c7d;
    --color-accent: #f6c25d;
    --color-third: #cbc385;
    --color-background: #fbd499;
    --font-color: #000000;
    --font-color-button: #000000;
    --font-color-header: #000000;
    --font-family: "Quintessential", cursive;
    --font-header: "Sofia", cursive;
    --border-radius-button: 5px;
    --width-button: 120px;
    --height-button: 50px;
    --background-img: url("../img/background_Art_nouveau.jpg")
}
.theme-art_deco {
    --color-primary: #1c2841;
    --color-accent: #edf3af;
    --color-third: #3f647e;
    --color-background: black;
    --font-color: #ffffff;
    --font-color-button: #ffffff;
    --font-color-header: #b49b5b;
    --font-family: "Arial";
    --font-header: "Limelight", cursive;
    --border-radius-button: 5px;
    --width-button: 120px;
    --height-button: 50px;
    --border-header: double;
    --background-img: #000000 url("../img/background_art_deco.png") repeat-y;
    --background-size: contain;
}
.theme-pop {
    --color-primary: #fd97d1;
    --color-accent: #21409a;
    --color-background: #fff8a7;
    --font-color: #000000;
    --font-color-button: #ffffff;
    --font-color-header: #fd97d1;
    --text-shadow: 4px 0 1px #1c2b48;
    --font-weight: bold;
    --font-header: #000000;
    --font-family: "Comic Sans", cursive;
    --font-header: "Comic Sans MS", "Comic Sans", cursive;
    --border-radius-button: 5px;
    --background-img: #fff8a7;
    --width-button: 120px;
    --height-button: 50px;
}
.theme-future {
    --color-primary: #654ce6;
    --color-accent: #21409a;
    --color-background: #ffffff;
    --font-color: #000000;
    --font-color-button: #ffffff;
    --font-header: #000000;
    --font-family: "Futura", sans-serif;
    --font-header: "Futura", sans-serif;
    --border-radius-button: 100px;
    --width-button: 120px;
    --height-button: 50px;
}
.container {
    width: 60%;
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    text-transform: var(--text-transform);
    padding-top: var(--padding-headerBorder);
}

.container h1 {
    color: var(--font-color-header);
    font-family: var(--font-header);
    border-style: var(--border-header);
    text-transform: none;
    margin: var(--margin);
    text-shadow: var(--text-shadow);
    font-weight: var(--font-weight);
}

.container h2 {
    color: var(--font-color-header);
    font-family: var(--font-header);
    margin: var(--margin);
    column-span: var(--coulmn-span);
}

.container h3 {
    color: var(--font-color-header);
    font-family: var(--font-family);
    font-weight: bold;
    margin: var(--margin);
}
.container button {
    height: var(--height-button);
    width: var(--width-button);
    color: var(--font-color-button);
    background: var(--color-primary);
    border: 0;
    border-radius: var(--border-radius-button);
    text-align: center;
    font-size: 15px;
}

.container p {
    color: var(--font-color);
}

#text {
    display: none;
}

#file {
    padding: 20px;
    background-color: var(--color-background);
    column-count: var(--column-count);
    column-gap: var(--column-gap);
}

.container img {
    width: 70%
}

@media only screen and (max-width: 600px) {
    .container {
        width: 30%;
    }
}