<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/homepage.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>Project Name</h2>

<button class="accordion">Publication 1</button>
<div class="panel">
  <a href="#">Text 1</a> <br />
  <a href="#">Text 2</a> <br />
  <a href="#">Text 3</a> <br />
</div>

<button class="accordion">Publication 2</button>
<div class="panel">
    <a href="#">Text 1</a> <br />
    <a href="#">Text 2</a> <br />
    <a href="#">Text 3</a> <br />
</div>

<button class="accordion">Publication 3</button>
<div class="panel">
    <a href="#">Text 1</a> <br />
    <a href="#">Text 2</a> <br />
    <a href="#">Text 3</a> <br />
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</body>
</html>
