<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/publication.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication</title>
</head>
<body>
    <div>
        <h1>Publication X</h1>
        <div id="texts">
        </div>
       
    </div>
    <script>

        let buttons = "";
        let textsHref = ['#', '#', '#']
        for (let i = 0; i < 3; i++){
            buttons += "<a href=" + textsHref[i] + ">Text " + (i+1) + "</a> <br>" ;
        }
        document.getElementById("texts").innerHTML = buttons;
    </script>
</body>
</html>